.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form .required:after {
  content: " *";
  color: red;
  font-weight: 100;
}

.row-custom {
  height: 25vh !important;
}

.botao {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

footer {
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-box {
  width: 100vw;
  height: 80vh;
  /* background: #6C7A89; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-box {
  width: 300px;
  height: 300px;
  /* background: #fff; */
}

.button-success {
  margin-top: 1vh;
}

.crm {
  font-size: 30px;
  font-weight: bolder;
}

.back-button {
  position: relative;
  width: 100px;
  height: 100px;
}

.margin-box {
  margin-top: 1vh;
}

.save-position {
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
}

.check-box {
  margin-top: 0.55vh;
}

.table-details {
  overflow: auto;
  height: 50vh;
}

.textarea-size {
  height: 10vh;
}

.margin-top-title {
  margin-top: -20px;
}

.uppercase {
  text-transform: uppercase;
}

.width-input {
  width: 10vh;
}

.checkbox-border {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.valor {
  width: 35%;
}

.relevant {
  width: 10%;
}
.position-fill {
  position: absolute;
  margin-right: 3vh;
  top: 0;
  right: 0;
}

.form-control.width-input {
  width: 100%;
}

.margin-button-save {
  margin-left: -2vh;
}

.spinner-size {
  height: 10vh !important;
  width: 10vh !important;
}

.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }